<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link href="../includes/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../layout/css/style.css">

  <title>Dashboard admin</title>
</head>

<body>



  <!-- Sidebar -->
  <div class="d-flex flex-column flex-shrink-0  text-white  sidebar float-start">
    <div class="p-3 pb-0">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img class="img-fluid logo" src="../layout/img/logo/logo_white.png" alt="">
        <span class="fs-4 text-white ms-1">Dashboard</span>
      </a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active fs-4" aria-current="page">
          <img src="../layout/img/icons/en-cours-d'analyse.png" alt="" class=" me-2" width="30" height="30">
          Analyse
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white fs-4">
          <img src="../layout/img/icons/commandes.png" alt="" class=" me-2" width="30" height="30">
          Commandes
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white fs-4">
          <img src="../layout/img/icons/box.png" alt="" class=" me-2" width="30" height="30">
          Produits
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white fs-4">
          <img src="../layout/img/icons/categories.png" alt="" class=" me-2" width="30" height="30">
          Categories
        </a>
      </li>
    </ul >
    <hr class="mb-0">
    <div>
      <ul class="nav flex-column pb-2 ">
        <li>
          <a href="#" class="nav-link text-white  fs-4">
            <img src="../layout/img/icons/exit.png" alt="" class=" me-2" width="30" height="30">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- end sidebar -->


  <!-- main -->
  <div class="main float-end">
    <div id="analyse">
      <!-- header -->
      <div class="w-100 card-header mb-3">
        <h4 class="text-center">Analyse</h4>
      </div>
      <!-- end header -->
      <!-- body -->
      <div class="container mt-5 p-4">
        <div class="row m-auto">
          <!-- card1 -->
          <div class="col-6 ">
            <div class="card p-5 ps-2 pe-2">
              <div class="card-body ">
                <h4 class="text-center">Nombre de 
                  commande effectuée</h4>
                  <h4 class="text-center">22</h4>
              </div>
            </div>
          </div>
          <!-- card 2 -->
          <div class="col-6 ">
            <div class="card p-5 ps-2 pe-2 ">
              <div class="card-body">
                <h4 class="text-center">Nombre de commandeslivrées</h4>
                <h4 class="text-center">22</h4>
              </div>
            </div>
          </div>
          <!-- card 3 -->
          <div class="col-12 mt-4">
            <div class="card p-5 ps-2 pe-2">
              <div class="card-body ">
                <h4 class="text-center">Nombre d'inscription</h4>
                <h4 class="text-center">22</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end body -->
    </div>
  </div>
  <!-- end main -->







  <script src="../includes/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>