
#mon_compte{
    .mybtn-icon{

        .btn-img{
            width: 25px;
        }
    }
    .user-image{
        text-align: center;
        img{
            border-radius: 6rem;
            width: 11%;
            margin-top: -3%;
            background-color: $mygreenlight;
        }
    }
    .line{
        width: 10rem;
        height: 3px;
        background: $mygreen;
        margin-bottom: 2rem;
    }

}
