


@import './variables';
@import './navbar';
@import './footer';
@import './index';
@import './magasin';
@import './classes';
@import './produit';
@import './panier';
@import './contact';
@import './mon_compte';


*{
    box-sizing: border-box;
    color: $textcolor;
    font-family: poppins;
    font-weight: bold;
}
input{
    &:focus {
        outline: none;
    }
}
.form-control{
    &:focus{
        box-shadow:none;
    }   
}


