<footer class="ftr">


    <div class="ftr-links">
      <ul>
        <li><a href="#">ACCUEIL</a></li>
        <li><a href="#">MAGASIN</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>

      <ul>
        <li>
          <a href="#">
            <img src="../../resources/img/icons/icons8-facebook-30.png" width="30" height="30" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../resources/img/icons/icons8-instagram-24.png" width="30" height="30" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../resources/img/icons/icons8-whatsapp-24.png" width="30" height="30" alt="" />
          </a>
        </li>
      </ul>
    </div>

    <span></span>
    <div class="ftr-fprint">
      <p>© 2021 SafiOne. All rights reserved.</p>
      <div>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </footer>
  <script src="../../resources/includes/bootstrap/js/bootstrap.min.js"></script>