<div id="header">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="ms-4 " href="#"><img src="/Public/resources/img/logo/logo_black.png" width="100px"
          alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-4">
            <a class="nav-link active" aria-current="page" href="index.html">ACCUEIL</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="magasin.html">MAGASIN</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="contact.html" tabindex="-1" aria-disabled="true">CONTACT</a>
          </li>
          <li class="nav-item dropdown me-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              COMPTE
            </a>
            <div class="dropdown-menu secondary-raduis secondary-border .container pt-2 "
              aria-labelledby="navbarDropdown">
              <div class="row justify-content-center">
                <div class="col-10">
                  <a href="mon_compte.html">
                    <button class="mybtn w-100 secondary-border secondary-raduis">Mon Compte</button>
                  </a>
                </div>
              </div>
              <hr>
              <div class="row justify-content-center" id="seconnecter">
                <div class="col-10">
                  <a href="login_reg.html">
                    <button class="mybtn w-100 secondary-border secondary-raduis">Se connecter</button>
                  </a>
                </div>
              </div>
              <div class="row justify-content-center" id="deconnecter">
                <div class="col-10">
                  <a href="login_reg.html">
                    <button class="mybtn w-100 secondary-border secondary-raduis">deconnecter</button>
                  </a>
                </div>
              </div>
              <hr>
              <div class="row justify-content-center">
                <div class="col-10">
                  <a href="panier.html">
                    <button class="mybtn w-100 secondary-border secondary-raduis">Panier</button>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item me-4 ms-3">
            <a class="nav-link p-0" href="panier.html" tabindex="-1" aria-disabled="true"><img
                src="../../resources/img/icons/sac-de-courses_1.png" width="30px" alt="cart" /></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<script>

const seconnecter = document.getElementById('seconnecter')
  const deconnecter = document.getElementById('deconnecter')
  if (sessionStorage.getItem("token") != null) {
    seconnecter.remove();
  }else{
    deconnecter.remove();
  }
</script>