<div class="d-flex flex-column flex-shrink-0  text-white  sidebar float-start">
    <div class="p-3 pb-0">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img  class="img-fluid logo" src="../../resources/img/logo/logo_white.png" alt=""">
        <span class="fs-4 text-white ms-1">Dashboard</span>
      </a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="analyse.html" class="nav-link active fs-4" aria-current="page">
          <img src="../../resources/img/icons/en-cours-d'analyse.png" alt="" class=" me-2" width="30" height="30">
          Analyse
        </a>
      </li>
      <li>
        <a href="commandes.html" class="nav-link text-white fs-4">
          <img src="../../resources/img/icons/commandes.png" alt="" class=" me-2" width="30" height="30">
          Commandes
        </a>
      </li>
      <li>
        <a href="listeProduits.html" class="nav-link text-white fs-4">
          <img src="../../resources/img/icons/box.png" alt="" class=" me-2" width="30" height="30">
          Produits
        </a>
      </li>
      <li>
        <a href="categories.html" class="nav-link text-white fs-4">
          <img src="../../resources/img/icons/categories.png" alt="" class=" me-2" width="30" height="30">
          Categories
        </a>
      </li>
    </ul >
    <hr class="mb-0">
    <div>
      <ul class="nav flex-column pb-2 ">
        <li>
          <a href="#" class="nav-link text-white  fs-4">
            <img src="../../resources/img/icons/exit.png" alt="" class=" me-2" width="30" height="30">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>