<!-- inmport sweetalert -->
<script src="/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
<div id="sidebare">
  <div class="d-flex flex-column flex-shrink-0  text-white  sidebar float-start">
    <div class="p-3 pb-0">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img class="img-fluid logo" src="../../resources/img/logo/logo_white.png" alt="">
        <span class=" fs-5 text-white ms-1">Dashboard</span>
      </a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="analyse.html" class="nav-link active fs-6" aria-current="page">
          <img src="../../resources/img/icons/en-cours-d'analyse.png" alt="" class=" me-3 ms-3" width="20" height="20">
          Analyse
        </a>
      </li>
      <li>
        <a href="commandes.html" class="nav-link text-white fs-6">
          <img src="../../resources/img/icons/commandes.png" alt="" class=" me-3 ms-3" width="20" height="20">
          Commandes
        </a>
      </li>
      <li>
        <a href="listeProduits.html" class="nav-link text-white fs-6">
          <img src="../../resources/img/icons/box.png" alt="" class=" me-3 ms-3" width="20" height="20">
          Produits
        </a>
      </li>
      <li>
        <a href="categories.html" class="nav-link text-white fs-6">
          <img src="../../resources/img/icons/categories.png" alt="" class=" me-3 ms-3" width="20" height="20">
          Categories
        </a>
      </li>
    </ul>
    <hr class="mb-0">
    <div>
      <ul class="nav flex-column pb-2 ">
        <li >
          <a id="logout" href="#" class="nav-link text-white  fs-6">
            <img src="../../resources/img/icons/exit.png" alt="" class=" me-3 ms-3" width="20" height="20">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script src="../../resources/js/admin.js"></script>
