<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/includes/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../resources/css/style.css" />
</head>
<!-- cdn jquery -->
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <!-- include header & footer -->
<script src="../../resources/js/includeTemp.js"></script>
  
<body  >
  <!-- header -->
<div id="header"></div>
  <!--  -->
  <!--  -->
  <div id="login_reg">
    <include src=".header.html"></include>

    <div class="mt-5 mb-5  ms-lg-5 me-lg-5" id="contact">
      <div class="container  p-lg-5 p-md-5 p-2">
        <div class="row">
          <div class="col-lg-7  col-12">
            <h1 id="safione">SafiOne</h1>
            <div class="for-hidden">
              <h3>Avec SafiOne T9ada li bghiti Wa9tma bghiti,</h3>
              <h3>Produits de meilleure qualité, </h3>
              <h3>Livraison à domicile . </h3>
            </div>
            </div>
          <div class="col-lg-5  col-12 text-center">
            <div class="container primary-border primary-raduis p-4 login-card">
              <input type="text" class="form-control mb-3" placeholder="Adresse e-mail ou numéro de tél.">
              <input type="text" class="form-control mb-3" placeholder="Mot de passe">
              <button class=" w-100 size-btn mt-2 mb-3  mybtn secondary-raduis secondary-border">Se connecter</button>
              <h6>OU</h6>
              <hr>
              <button class=" mybtn size-btn secondary-raduis secondary-border" data-bs-toggle="modal" data-bs-target="#exampleModal">Créer un compte</button>
            </div>
          </div>
        </div>
      </div>


    </div>

        <!-- Modal -->
        <div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content primary-border" >
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
                      <button type="button" class="mybtn-icon secondary-raduis secondary-border"
                          data-bs-dismiss="modal" aria-label="Close"><img src="../../resources/img/icons/cancel.png"
                              style="width: 20px;" alt=""></button>
                  </div>
                  <div class="modal-body">
                      <form action="">
                          <div class="row">
                              <div class="col-6">
                                  <label for="nom" class="mt-1"> Nom : </label>
                                  <input name="nom" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                      placeholder="Votre nom">
                                  <label for="genre" class="mt-1"> Genre : </label>
                                  <select  name="genre" class="w-100 secondary-border secondary-raduis form-control ">
                                      <option value="" disabled selected>Votre genre</option>
                                      <option value="" >Homme</option>
                                      <option value="" >Femme</option>
                                  </select>
                              </div>
                              <div class="col-6">
                                  <label for="prenom" class="mt-1"> Prenom : </label>
                                  <input name="prenom" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                  placeholder="Votre prenom">
                                  <label for="telephone" class="mt-1"> Telephone : </label>
                                  <input name="telephone" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                  placeholder="Votre numéro de tél ">
                              </div>

                              <div class="col-12">
                                  <label for="address 1" class="mt-1"> Address 1 : </label>
                                  <input name="address 1" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                  placeholder="Votre adresse a domicile 1">
                                  <label for="address 2" class="mt-1"> Address 2 : </label>
                                  <input name="address 2" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                  placeholder="Votre adresse a domicile 2">
                                  <label for="email" class="mt-1"> Email : </label>
                                  <input name="email" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                  placeholder="Votre adresse e-mail">
                                  <label for="pass" class="mt-1"> Mot de passe : </label>
                                  <input name="pass" type="password" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                  placeholder="Votre mot de passe ">
                              </div>

                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">

                      <button type="button" class="mybtn secondary-raduis secondary-border">Enregistrez</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- end modal -->


  </div>


  <!-- Footer -->
<div id="footer"></div>
  <!-- end footer -->


</body>

</html>