<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/includes/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../resources/css/style.css" />
</head>
<!-- cdn jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<!-- include header & footer -->
<script src="../../resources/js/includeTemp.js"></script>
<!-- import axios -->
<script src="/node_modules/axios/dist/axios.min.js"></script>

<body onload="initialize()">
  <!-- header -->
  <div id="header"></div>
  <!--  -->
  <div id="magasin">
    <!-- selelct and search -->
    <div class="container mt-5 ">
      <div class="row">
        <div class="col-lg-4 col-7 mt-2">
          <select id="select_catego" class="form-select secondary-border secondary-raduis form-control">
            <option selected>Selecte catégories</option>
          </select>
        </div>
        <div class="col-lg-3 col-5 mt-2">
          <select class="form-select secondary-border secondary-raduis form-control">
            <option selected>Prix</option>
            <option value="1">10 DH</option>
            <option value="2">20 DH</option>
            <option value="3">30 DH</option>
          </select>
        </div>
        <div class="col-lg-5 col-12 mt-2">
          <div class="
              input-search
             
              secondary-border secondary-raduis
              d-flex
              justify-content-between
            ">
            <input class="m-1" type="text" style="width: 100%;" placeholder="Rechercher" />
            <button class="mybtn secondary-border secondary-raduis">
              chercher
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- selelct and search -->

    <!-- products -->

    <div class="container mt-5 mb-5">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4  ">

        <!--card  -->
        <div class="col">
          <div class="card border border-dark  product shadow_card">
            <div class="border border-bottom img-card d-flex justify-content-center align-items-center card">
              <img src="../../resources/img/product/927073-768x763 (1).png" class="img-fluid" alt="" />

            </div>
            <div class="card-body">
              <h6 class="card-title fw-bold mt-2">
                BOUTEILLE A HUILE & VINAIGRE 0,25 LITRE
              </h6>
              <div class="d-flex justify-content-between mt-3">
                <button class="mybtn size-btn-card secondary-raduis secondary-border">
                  Ajouter
                </button>
                <h6 class="pt-1">10.00DH</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="col">
          <div class="card border border-dark  product shadow_card">
            <div class="border border-bottom img-card d-flex justify-content-center align-items-center card">
              <img src="../../resources/img/product/8001499044010-768x511.jpg" class="img-fluid" alt="" />

            </div>
            <div class="card-body">
              <h6 class="card-title fw-bold mt-2">
                BOITE DE PROVISION CARREE TRANSPARENTE
              </h6>
              <div class="d-flex justify-content-between mt-3">
                <button class="mybtn size-btn-card secondary-raduis secondary-border">
                  Ajouter
                </button>
                <h6 class="pt-1">10.00DH</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- card -->
                <!-- card -->
                <div class="col">
                  <div class="card border border-dark  product shadow_card">
                    <div class="border border-bottom img-card d-flex justify-content-center align-items-center card">
                      <img src="../../resources/img/product/plateau.jpg" class="img-fluid" alt="" />
        
                    </div>
                    <div class="card-body">
                      <h6 class="card-title fw-bold mt-2">
                        PLATEAU EN BOIS AVEC POIGNÉES 50X25 CM
                      </h6>
                      <div class="d-flex justify-content-between mt-3">
                        <button class="mybtn size-btn-card secondary-raduis secondary-border">
                          Ajouter
                        </button>
                        <h6 class="pt-1">30.00DH</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- card -->
        <!--card  -->
        <div class="col">
          <div class="card border border-dark  product shadow_card">
            <div class="border border-bottom img-card d-flex justify-content-center align-items-center card">
              <img src="../../resources/img/product/927065-768x768.png" class="img-fluid" alt="" />

            </div>
            <div class="card-body">
              <h6 class="card-title fw-bold mt-2">
                CARAFE AVEC COUVERCLE ORANGE 1 LITRE
              </h6>
              <div class="d-flex justify-content-between mt-3">
                <button class="mybtn size-btn-card secondary-raduis secondary-border">
                  Ajouter
                </button>
                <h6 class="pt-1">20.00DH</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- card -->
        <!--card  -->
        <div class="col">
          <div class="card border border-dark  product shadow_card">
            <div class="border border-bottom img-card d-flex justify-content-center align-items-center card">
              <img src="../../resources/img/product/C80900900.jpg" class="img-fluid" alt="" />

            </div>
            <div class="card-body">
              <h6 class="card-title fw-bold mt-2">
                BROCHETTES POUR BARBECUE 4 PIECES
              </h6>
              <div class="d-flex justify-content-between mt-3">
                <button class="mybtn size-btn-card secondary-raduis secondary-border">
                  Ajouter
                </button>
                <h6 class="pt-1">10.00DH</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="col">
          <div class="card border border-dark  product shadow_card">
            <div class="border border-bottom img-card d-flex justify-content-center align-items-center card">
              <img src="../../resources/img/product/C80201710.jpg" class="img-fluid" alt="" />

            </div>
            <div class="card-body">
              <h6 class="card-title fw-bold mt-2">
                CISEAUX MULTIFONCTIONS 21X7.8 CM
              </h6>
              <div class="d-flex justify-content-between mt-3">
                <button class="mybtn size-btn-card secondary-raduis secondary-border">
                  Ajouter
                </button>
                <h6 class="pt-1">10.00DH</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- card -->
                <!-- card -->
                <div class="col">
                  <div class="card border border-dark  product shadow_card">
                    <div class="border border-bottom img-card d-flex justify-content-center align-items-center card">
                      <img src="../../resources/img/product/927072.jpg" class="img-fluid" alt="" />
        
                    </div>
                    <div class="card-body">
                      <h6 class="card-title fw-bold mt-2">
                        CARAFE EN VERRE 1 LITRE COUVERCLE ROUGE
                      </h6>
                      <div class="d-flex justify-content-between mt-3">
                        <button class="mybtn size-btn-card secondary-raduis secondary-border">
                          Ajouter
                        </button>
                        <h6 class="pt-1">10.00DH</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- card -->
        <!--card  -->
        <div class="col">
          <div class="card border border-dark  product shadow_card">
            <div class="border border-bottom img-card d-flex justify-content-center align-items-center card">
              <img src="../../resources/img/product/box_dejeuner.jpg" class="img-fluid" alt="" />

            </div>
            <div class="card-body">
              <h6 class="card-title fw-bold mt-2">
                BOX A DEJEUNER 17X13X6,5 VERT
              </h6>
              <div class="d-flex justify-content-between mt-3">
                <button class="mybtn size-btn-card secondary-raduis secondary-border">
                  Ajouter
                </button>
                <h6 class="pt-1">20.00DH</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="col">
          <div class="card border border-dark  product">
            <div class="border border-bottom img-card d-flex justify-content-center align-items-center shadow_card">
              <img src="../../resources/img/product/8001499044010-768x511.jpg" class="img-fluid" alt="" />

            </div>
            <div class="card-body">
              <h6 class="card-title fw-bold mt-2">
                BOITE DE PROVISION CARREE TRANSPARENTE
              </h6>
              <div class="d-flex justify-content-between mt-3">
                <button class="mybtn size-btn-card secondary-raduis secondary-border">
                  Ajouter
                </button>
                <h6 class="pt-1">10.00DH</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- card -->
      </div>
    </div>
    <!-- end product -->
    <!-- pagination -->
    <div class="container mb-5 pagination d-flex justify-content-center">
      <div class="row d-flex ">
        <button class="mybtn secondary-border">&laquo;</button>
        <button class="mybtn secondary-border">1</button>
        <button class="mybtn secondary-border">2</button>
        <button class="mybtn secondary-border">3</button>
        <button class="mybtn secondary-border">&raquo;</button>
      </div>
    </div>

    <!--end pagination -->

    <!-- Footer -->
    <div id="footer"></div>
    <!-- end footer -->
<script src="../../resources/js/store.js"></script>

</body>

</html>