<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/includes/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../resources/css/style.css" />
</head>
<!-- cdn jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<!-- include header & footer -->
<script src="../../resources/js/includeTemp.js"></script>
<!-- import axios -->
<script src="/node_modules/axios/dist/axios.min.js"></script>

<body onload="initialize()">
  <!-- header -->
  <div id="header"></div>
  <!--  -->
  <div id="magasin">
    <!-- selelct and search -->
    <div class="container mt-5 ">
      <div class="row">
        <div class="col-lg-4 col-7 mt-2">
          <select id="select_catego" class="form-select secondary-border secondary-raduis form-control">
            <option selected>Selecte catégories</option>
          </select>
        </div>
        <div class="col-lg-3 col-5 mt-2">
          <select class="form-select secondary-border secondary-raduis form-control">
            <option selected>Prix</option>
            <option value="1">10 DH</option>
            <option value="2">20 DH</option>
            <option value="3">30 DH</option>
          </select>
        </div>
        <div class="col-lg-5 col-12 mt-2">
          <div class="
              input-search
             
              secondary-border secondary-raduis
              d-flex
              justify-content-between
            ">
            <input onkeyup="getAll_product()" id="txt_search" class="m-1" type="text" style="width: 100%;" placeholder="Rechercher" />
            <button onclick="getAll_product()" class="mybtn secondary-border secondary-raduis">
              chercher
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- selelct and search -->

    <!-- products -->

    <div class="container mt-5 mb-5">
      <div id="body_product" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4  ">
        <!-- product -->        
      </div>
    </div>
    <!-- end product -->
    <!-- pagination -->
    <div class="container mb-5 pagination d-flex justify-content-center">
      <div class="row d-flex ">
        <button class="mybtn secondary-border">&laquo;</button>
        <button class="mybtn secondary-border">1</button>
        <button class="mybtn secondary-border">2</button>
        <button class="mybtn secondary-border">3</button>
        <button class="mybtn secondary-border">&raquo;</button>
      </div>
    </div>

    <!--end pagination -->
    <script src="../../resources/js/store.js"></script>
    <!-- Footer -->
    <div id="footer"></div>
    <!-- end footer -->


</body>

</html>
