<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/includes/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../resources/css/style.css" />
</head>
<!-- cdn jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<!-- include header & footer -->
<script src="../../resources/js/includeTemp.js"></script>
<!-- axios -->
<script src="/node_modules/axios/dist/axios.min.js"></script>
<script src="../../resources/js/is_customer.js"></script>
<body onload="Customer_info()" >
  <!-- header -->
<div id="header"></div>
  <!--  -->

    <div id="mon_compte" class="mt-5 mb-5 p-3">


        <div class="container contact-form primary-border primary-raduis shadow_card ">
            <div class="user-image">
                <img src="../../resources/img/icons/user1.png" alt="rocket_contact" />
            </div>
            <div class="p-5 row information">
                <div class="col-12 d-flex flex-column align-items-center">
                    <h3 class="">INFORMATIONS PERSONELLES</h3>
                    <div class="line  mt-3"></div>
                </div>
                <div class="col-lg-6 col-12 ps-lg-5">

                    <h5>Nom : <span id="Fname"> </span></h5>
                    <h5>Prenom : <span id="Lname"></span></h5>
                    <h5>Telephone : <span id="nbrPhone"></span></h5>
                    <h5>Genre : <span id="gender"></span></h5>

                </div>
                <div class="col-lg-6 col-12 ps-lg-5 ">

                    <h5>Email : <span id="email">elhoubiyassine@gmail.com</span></h5>
                    <h5>Address 1 : <span id="address1"></span></h5>
                    <h5>Address 2 : <span id="address2"></span></h5>
                </div>
                <div class="col-lg-3 col-6 m-auto mt-2">
                    <button data-bs-toggle="modal" data-bs-target="#Update_modal"
                        class="mybtn size-btn w-100  secondary-border secondary-raduis">Modifier</button>
                </div>
            </div>


        </div>




        <!-- Modal -->
        <div class="modal fade" id="Update_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content primary-border">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Informations personelles</h5>
                        <button type="button" class="mybtn-icon secondary-raduis secondary-border"
                            data-bs-dismiss="modal" aria-label="Close"><img src="../../resources/img/icons/cancel.png"
                                style="width: 20px;" alt=""></button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="row">
                                <div class="col-6">
                                    <label for="nom" class="mt-1"> Nom : </label>
                                    <input name="nom" id="Fname-m" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                        value="">
                                    <label for="genre"  class="mt-1"> Genre : </label>
                                    <select id="gender-m" name="genre" class="w-100 secondary-border secondary-raduis form-control ">
                                        <option value="" disabled selected>Genre</option>
                                        <option value="man" >Homme</option>
                                        <option value="woman" >Femme</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="prenom"  class="mt-1"> Prenom : </label>
                                    <input name="prenom" id="Lname-m" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                        value="">
                                    <label for="telephone"  class="mt-1"> Telephone : </label>
                                    <input name="telephone" id="nbrPhone-m" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                        value="">
                                </div>

                                <div class="col-12">

                                    <label for="address 1"  class="mt-1"> Address 1 : </label>
                                    <input name="address 1" id="address1-m" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                        value="">
                                    <label for="address 2"  class="mt-1"> Address 2 : </label>
                                    <input name="address 2" id="address2-m" class="w-100 secondary-border secondary-raduis form-control" type="text"
                                        value="">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">

                        <button type="button" onclick="update_customer_info()" class="mybtn secondary-raduis secondary-border">Enregistrez</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->

    </div>
    <!-- Footer -->

<div id="footer"></div>
    <!-- end footer -->
    <script src="../../resources/js/clients.js"></script>

</body>

</html>