<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/includes/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../resources/css/style.css" />
</head>
<!-- cdn jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<!-- include header & footer -->
<script src="../../resources/js/includeTemp.js"></script>
<!-- axios -->
<script src="/node_modules/axios/dist/axios.min.js"></script>

<body onload="initialize_cart()">
  <!-- header -->
  <div id="header"></div>
  <!--  -->
  <!-- panier -->
  <div id="panier">
    <!-- head -->
    <div class=" top-0 start-0 secondary-border" id="div-head">
      <div class="container h-100 d-flex align-items-center justify-content-between">
        <h6 >Bonjour : <span id="Fullname">Veuillez d'abord vous connecter</span> </h6>
        <h4>Panier</h4>
      </div>
    </div>
    <!-- end head -->


    <div class="container row m-auto mt-5 mb-5">
      <!-- product -->
      <div id="cart" class="container col-lg-7  ">

        <!--product  -->
        
      </div>
      <!-- end product -->
      <div class="container col-lg-4   ">
        <div class="container secondary-border primary-raduis m-0 shadow_card ">

          <div class="row mt-3 mb-3">
            <h4 class="text-center fw-bold">Résumé des commandes</h4>
          </div>
          <div class="row mb-3">
            <h5 class="col-8">Sous-total</h5>
            <h5 class=" col-4 pe-0  ps-4" id="calcPrice">00:00 <span>MAD</span></h5>
          </div>
          <div class="row mb-3">
            <h5 class="col-8">Livraison</h5>
            <h5 class="col-4 pe-0  ps-4" id="delivery">00:00 <span>MAD</span></h5>
          </div>
          <div class="row text-center m-auto mb-2" id="line"></div>
          <div class="row mb-3 mt-3">
            <h5 class="col-8 fw-bolder">Total</h5>
            <h5 class="col-4 pe-0  ps-4" id="totalPrice">00:00 <span>MAD</span></h5>
          </div>
          <div class="row mb-3">
            <div class="col-4">
              <h5 class="pt-1">Address</h5>
            </div>
            <div class="col-8">
              <div class="secondary-raduis d-flex justify-content-between secondary-border w-100 input-address">
                <input class="w-100 primary-raduis" type="text" id="address1" readonly value="">
                <button class="mybtn-icon secondary-border secondary-raduis">
                  <img class="btn-img img-fluid " src="../../resources/img/icons/modifier-le-fichier.png" alt="">
                </button>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button class="mybtn primary-border secondary-raduis mb-3">Validier La commande</button>
          </div>

        </div>
      </div>

    </div>


  </div>
  <!-- end panier -->

  <!-- Footer -->
  <div id="footer"></div>
  <!-- end footer -->

  <script src="../../resources/js/style.js"></script>
  <script src="/Public/resources/js/store.js"></script>
</body>

</html>