#sidebar{
    .sidebar{
        position: fixed;
        width: 250px;
        height: 100vh;
        background-color: $textcolor!important;
        a{
            font-weight: 400;
        }
        .logo{
            width: 70px;
        }
    }
    .active{
        background-color: #6D7986 !important;
        border-radius: 0% !important;
        color: #fff !important;
    } 
    .nav-link{
        &:hover{
            background-color: #9ba9b6 !important;
            border-radius: 0% !important;
            color: #fff !important;
        }
    }
}
    .main{
        width: calc(100% - 250px);
    }
  