.ftr {
	box-shadow:  25px 25px 25px 25px rgba(0, 0, 0, .12);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// margin: 0 20rem;


	.ftr-links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 70rem;
		align-items: center;
		padding: 4rem 2rem;
		padding-bottom: 2rem;

		ul {
			display: flex;
			flex-direction: row;
			gap: 2rem;
			list-style: none;
			align-items: center;

			li a {
				text-decoration: none;
				font-weight: 300;
				font-size: 1.1rem;
			}
		}
	}

	span {
		width: 70rem;
		height: 1px;
		background-color: $myblue;
		border-radius: 50%;
		margin-bottom: 2rem;
	}

	.ftr-fprint {
		display: flex;
		width: 70rem;
		justify-content: space-between;
		padding-right: 2rem;
		padding-left: 2rem;


		div {
			display: flex;
			gap: 1rem;
		}
	}
}
a{
	color: $textcolor !important;
	text-decoration: none;
}

@media (max-width: 1000px) {
	.ftr {
		span{
			width: 90vw;
		}
		.nwltr-container {
			flex-direction: column;
			width: 90vw;

			.input {
				width: 80vw;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				input {
					width: 100%;
					text-align: center;
					padding: 1rem;
					padding-bottom: 1.5rem;
				}

				button {
					width: 100%;
				}
			}
		}

		.ftr-links {
			padding-top: 1rem;
			flex-direction: column;
			gap: 2rem;
			width: 80vw;
		}

		.ftr-fprint {
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			width: 80vw;
		}
	}
}