
#header{

    .navbar{
        border-bottom: blue solid 0.5px;
    
    }
    .navbar-light {
        .navbar-nav {
            .nav-link{
                color: #415161 !important;
                
            }
        }
        
    }
    // .active{
    //     background-color: #648db6 !important;
    //     border-radius: 0% !important;
    //     color: #fff !important;
    // } 
    .active{
        height: 2px;
        width: 100%;
        background-color: $mygreen;
    }

    
}