#index {

    .image_wrapper {
        background-image:linear-gradient(to bottom, rgba(173, 189, 255, 0.52),rgba(206, 215, 250, 0.52)),url('../img/ecommerceindustryreport-lpheader-1.jpg');
        width: 100%;
        height: 300px;
        background-size: cover;
    }
    
    .line {
        width: 10rem;
        height: 3px;
        background: $mygreen;
        margin-bottom: 2rem;
    }

    #safione {
        color: $mygreen;
    }

    #imghome {
        border-radius: 50px;
    }

@media (max-width: 990px) {
    #line_for_hidden{
        display: none;
    }
    
}
    

}