#index {

    .line {
        width: 10rem;
        height: 3px;
        background: $mygreen;
        margin-bottom: 2rem;
    }

    #safione {
        color: $mygreen;
    }

    #imghome {
        border-radius: 200px;
    }



}