#panier{   
    #div-head{
        height: 70px;
        width: 100% !important;
        background-color: $mygreenlight ;
    }
    .container-img-product{
        height: 150px;
        .img-product{
            max-width: 98%;
            max-height: 98%;
            object-fit: contain;
        }
    }
    .btn-img{
        width: 15px;
        
    }
    #line{
        width: 16rem;
        height: 3px;
        background: $mygreen;
        margin-bottom: 2rem;
    }
    .input-address{
        input {
            border: none;
            font-weight: 100;
     
            &:focus {
                outline: none;
            }
        }
    }

}