#produit{

    #card-container-product{
        #div-img{
            height: 300px;
            #img{
                
                width: 98%;
                object-fit: contain;
            }
        }
        #description-aria-product{
            width: 100%;
            height: 100px;
            overflow: scroll;
            overflow-x: hidden;
            
        }
    }
    
}
