/* $conic: linear-gradient(135deg, #0288D1, #26C6DA);
$primary: #0288D1;
$primary-low-capacity:#bedfee;
$red : linear-gradient(135deg, #ff0000, #f36b6b); */


$light: #fff;
$dark: #242124;
$myblue:#0635C9;
$mygreen : #1AE5BE;
$textcolor : #415161 ;
$mygreenlight : #E2FFF9;