

/* global */
@import './variables';
@import './classes';
/* user */
@import './navbar';
@import './footer';
@import './index';
@import './magasin';
@import './produit';
@import './panier';
@import './contact';
@import './mon_compte';
@import './log_reg';

/* adm */
@import './adm_sidebar';
@import './adm_analyse';
@import './adm_Produit';


*{
    box-sizing: border-box;
    color: $textcolor;
    font-family: poppins;
    font-weight: bold;
}
/* ui user */
input{
    &:focus {
        outline: none;
    }
}
.form-control{
    &:focus{
        box-shadow:none;
    }   
}
/* ui adm */
.card-header{
    background-color: $mygreenlight ;
}
.form-control{
    &:focus{
        box-shadow:none;
    }   
}


