<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../includes/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../layout/css/style.css" />
</head>

<body class="app">
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="ms-4 navbar-brand" href="#"><img src="../layout/img/logo/logo_black.png" width="100px" alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-4">
            <a class="nav-link active" aria-current="page" href="#">ACCUEIL</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="#">MAGASIN</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">CONTACT</a>
          </li>
          <li class="nav-item dropdown me-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              COMPTE
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>

          <li class="nav-item me-4 ms-3">
            <a class="nav-link p-0" href="#" tabindex="-1" aria-disabled="true"><img
                src="../layout/img/icon/sac-de-courses_1.png" width="30px" alt="cart" /></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->
  <!-- panier -->
  <div id="panier">
    <!-- head -->
    <div class=" top-0 start-0 secondary-border" id="div-head">
      <div class="container h-100 d-flex align-items-center justify-content-between">
        <h6>Bonjour : Yassine Elhoubi</h6>
        <h4>Panier</h4>
      </div>
    </div>
    <!-- end head -->


    <div class="container row m-auto mt-5 ">
      <!-- product -->
      <div class="container col-lg-7  ">
        <!-- 1 -->
        <div class="container secondary-border pt-2 pb-2 primary-raduis m-0 mb-1"> 
          <div class="row ">
            <div class="col-lg-4  col-10 m-auto">
              <div class="container d-flex align-items-center justify-content-center secondary-border primary-raduis h-100 p-0">
                <img class="img-product  primary-raduis" src="../layout/img/product/8001499044010-768x511.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-7 col-12 d-flex flex-column justify-content-between mt-lg-0 mt-2">
              <h6>CARAFE AVEC COUVERCLE ORANGE 1 LITRE</h6>
              <h6>Quantity : <span>1</span></h6>
              <h6>prix : <span>00:00</span> MAD</h6>
              <div class="row ms-1 ">
                <button class="mybtn-icon col-2 p-1 primary-border secondary-raduis  me-2">
                  <img class="btn-img img-fluid " src="../layout/img/icon/modifier-le-fichier.png" alt="">
                </button>
                <button class="mybtn-icon col-2 p-1 primary-border secondary-raduis"><img class="btn-img img-fluid"
                    src="../layout/img/icon/supprimer.png" alt=""></button>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="container secondary-border pt-2 pb-2 primary-raduis m-0 mb-1"> 
          <div class="row ">
            <div class="col-lg-4  col-10 m-auto">
              <div class="container d-flex align-items-center justify-content-center secondary-border primary-raduis h-100 p-0">
                <img class="img-product  primary-raduis" src="../layout/img/product/929591-768x512.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-7 col-12 d-flex flex-column justify-content-between mt-lg-0 mt-2">
              <h6>CARAFE AVEC COUVERCLE ORANGE 1 LITRE</h6>
              <h6>Quantity : <span>1</span></h6>
              <h6>prix : <span>00:00</span> MAD</h6>
              <div class="row ms-1 ">
                <button class="mybtn-icon col-2 p-1 primary-border secondary-raduis  me-2">
                  <img class="btn-img img-fluid " src="../layout/img/icon/modifier-le-fichier.png" alt="">
                </button>
                <button class="mybtn-icon col-2 p-1 primary-border secondary-raduis"><img class="btn-img img-fluid"
                    src="../layout/img/icon/supprimer.png" alt=""></button>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
      <!-- end product -->
      <div class="container col-lg-5  ">
        <div class="container secondary-border primary-raduis m-0 ">
          
            <div class="row mt-3 mb-3">
              <h4 class="text-center">Résumé des commandes</h4>
            </div>
            <div class="row mb-3">
              <h5 class="col-8">Sous-total</h5>
              <h5 class=" col-4 pe-0  ps-4">00:00 <span>MAD</span></h5>
            </div>
            <div class="row mb-3">
              <h5 class="col-8">Livraison</h5>
              <h5 class="col-4 pe-0  ps-4">00:00 <span>MAD</span></h5>
            </div>
            <div class="row text-center m-auto mb-2" id="line"></div>
            <div class="row mb-3 mt-3">
              <h5 class="col-8">Total</h5>
              <h5 class="col-4 pe-0  ps-4">00:00 <span>MAD</span></h5>
            </div>
            <div class="row mb-3">
              <div class="col-4">Address</div>
              <div class="col-8">
                <div class="secondary-raduis d-flex justify-content-between secondary-border w-100 input-address">
                  <input class="w-100 primary-raduis" type="text" readonly value="xxxxxxxxxxxx">
                  <button class="mybtn-icon secondary-border secondary-raduis">
                    <img class="btn-img img-fluid " src="../layout/img/icon/modifier-le-fichier.png" alt="">
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button class="mybtn primary-border secondary-raduis mb-3">Validier La commande</button>
            </div>
          
        </div>
      </div>

    </div>


  </div>
  <!-- end panier -->

  <!-- Footer -->
  </div>

  <footer class="ftr">
    <div class="nwltr-container">
      <h4>Contactez nous</h4>
      <div class="input">
        <input type="text" placeholder="Enter your email" />
        <button class="mybtn primary-border">Contact</button>
      </div>
    </div>

    <div class="ftr-links">
      <ul>
        <li><a href="#">ACCUEIL</a></li>
        <li><a href="#">MAGASIN</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>

      <ul>
        <li>
          <a href="#">
            <img src="../layout/img/icon/icons8-facebook-30.png" width="30" height="30" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../layout/img/icon/icons8-instagram-24.png" width="30" height="30" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../layout/img/icon/icons8-whatsapp-24.png" width="30" height="30" alt="" />
          </a>
        </li>
      </ul>
    </div>

    <span></span>
    <div class="ftr-fprint">
      <p>© 2021 SafiOne. All rights reserved.</p>
      <div>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </footer>
  <!-- end footer -->

  <script src="../includes/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>