<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../includes/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../layout/css/style.css" />
</head>

<body class="app">
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="ms-4 navbar-brand" href="#"><img src="../layout/img/logo/logo_black.png" width="100px" alt="logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-4">
            <a class="nav-link active" aria-current="page" href="#">ACCUEIL</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="#">MAGASIN</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">CONTACT</a>
          </li>
          <li class="nav-item dropdown me-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              COMPTE
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>

          <li class="nav-item me-4 ms-3">
            <a class="nav-link p-0" href="#" tabindex="-1" aria-disabled="true"><img
                src="../layout/img/icon/sac-de-courses_1.png" width="30px" alt="cart" /></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end navbar -->

  <div id="produit">


    <!-- produit -->
    <div class="container p-lg-5 p-4 mt-5 mb-5 secondary-border primary-raduis  " id="card-container-product">
      <div class="row m-0  col-12" id="card-container-product-column">
        <div id="div-img"
          class="col-lg-4 col-md-10 col-12 p-0 me-lg-3  secondary-border primary-raduis  d-flex justify-content-center">
          <img class=" primary-raduis" id="imgf" src="../layout/img/product/8001499044010-768x511.jpg" alt="">
        </div>
        <div class="col-lg-7 col-12 d-flex flex-column justify-content-between m-lg-3  ">
          <h4 class="mt-lg-0  mt-4 ">CARAFE AVEC COUVERCLE ORANGE 1 LITRE</h4>
          <h4 class=" mt-lg-0  mt-4">00.00 MAD</h4>
          <div class="row mt-lg-0  mt-4">
            <h4 class="col-4">Quantity</h4>
            <input class="secondary-border primary-raduis col-6" type="number" min="1" value="1">
          </div>
          <button class="mybtn size-btn secondary-border primary-raduis mt-lg-0  mt-4">Ajouter au panier</button>
        </div>
      </div>
      <div class="row me-0  col-12 m-0 mt-4">
        <h4>Description</h4>
        <div  class=" primary-raduis secondary-border" id="description-aria-product">
        <p>Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ipsum, consequatur illo reiciendis beatae excepturi numquam omnis pariatur dolores magnam magni tenetur odio ad suscipit quasi voluptatem saepe cum obcaecati. sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nulla fuga quis aut saepe nostrum recusandae porro ipsam aspernatur possimus sunt, distinctio sequi labore cum dolore reiciendis beatae animi tempore? adipisicing elit. Aliquid fugiat reprehenderit tempore odio, sint nam iure repellat fugit autem. Facilis iure magnam quibusdam recusandae dolor quis repudiandae sed vitae animi.</p>
        </div>

      </div>
    </div>

    <!-- end product -->




  </div>
  <!-- Footer -->

  <footer class="ftr">
    <div class="nwltr-container">
      <h4>Contactez nous</h4>
      <div class="input">
        <input type="text" placeholder="Enter your email" />
        <button class="mybtn primary-border">Contact</button>
      </div>
    </div>

    <div class="ftr-links">
      <ul>
        <li><a href="#">ACCUEIL</a></li>
        <li><a href="#">MAGASIN</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>

      <ul>
        <li>
          <a href="#">
            <img src="../layout/img/icon/icons8-facebook-30.png" width="30" height="30" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../layout/img/icon/icons8-instagram-24.png" width="30" height="30" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../layout/img/icon/icons8-whatsapp-24.png" width="30" height="30" alt="" />
          </a>
        </li>
      </ul>
    </div>

    <span></span>
    <div class="ftr-fprint">
      <p>© 2021 SafiOne. All rights reserved.</p>
      <div>
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </footer>
  <!-- end footer -->

  <script src="../includes/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>