#analyse{
    .card-header{
        background-color: $mygreenlight ;
        
    }
    .container{
        .row{
            .card{
                border-radius: 40px;
                background-color: #F5F7FF;
            }
        }
    }
}