#nouveauProduit{
    .row-img{

        .spanfile{
            margin-top: 5px;
            font-weight: 400;
        }
        .input-grp-img{
            width: 35px;
            input[type="file"] {
                display: none;
            }
            .img-btn-touch{
                margin-top: 1px;
                margin-bottom: 1px;
            }
        }

    }
    .ajouter-btn{
        margin-right: 60px;
    }


}