
    .sidebar{
        position: fixed;
        width: 280px;
        height: 100vh;
        background-color: $textcolor!important;
        a{
            font-weight: 400;
        }
        .logo{
            width: 100px;
        }
    }
    .main{
        width: calc(100% - 280px);
    }
    .active{
        background-color: #6D7986 !important;
        border-radius: 0% !important;
        color: #fff !important;
    }
