@import'./variables';
@import './classes';
@import './sidebar';
@import './analyse';
@import './commandes';
@import './commandes';

*{
    box-sizing: border-box;
    color: $textcolor;
    font-family: poppins;
    font-weight: bold;
}