@import'./variables';
@import './classes';
@import './sidebar';
@import './analyse';
@import './nouveauProduit';



*{
    box-sizing: border-box;
    color: $textcolor;
    font-family: poppins;
    font-weight: bold;
}
.card-header{
    background-color: $mygreenlight ;
}
.form-control{
    &:focus{
        box-shadow:none;
    }   
}