<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/includes/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../resources/css/style.css" />
</head>
<!-- cdn jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<!-- include header & footer -->
<script src="../../resources/js/includeTemp.js"></script>
<!-- import axios -->
<script src="/node_modules/axios/dist/axios.min.js"></script>

<body onload="getAll_catego()">
  <!-- header -->
  <div id="sidebar"></div>
  <!--  -->


  <!-- main -->
  <div class="main float-end">
    <div id="categories">
      <!-- header -->
      <div class="w-100 card-header mb-5">
        <h4 class="text-center">Liste des Categories</h4>
      </div>
      <!-- end header -->
      <!-- body -->
      <div class="container text-center"><button class="mybtn size-btn primary-border primary-raduis "
          data-bs-toggle="modal" data-bs-target="#newCategorieModal">Ajouter
          categorie</button> </div>
      <div class="container  ps-5 pe-5 mt-5">
        <div class="container  ps-5 pe-5 ">

          <table class="table table-bordered secondary-border  text-center">
            <thead>
              <tr>
                <th class="col-12 ">Nom de catégorie</th>
                <th>Modifier</th>
                <th>supprimer</th>
              </tr>
            </thead>
            <tbody id="tbody">
              <!-- getAll_catego function -->
            </tbody>
          </table>
          
        </div>
      </div>



      <!--new categorie Modal -->
      <div class="modal fade" id="newCategorieModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter une Catégorie</h5>
              <button type="button" class="mybtn-icon secondary-raduis secondary-border" data-bs-dismiss="modal"
                aria-label="Close"><img src="../../resources/img/icons/cancel.png" style="width: 20px;" alt=""></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <label class="mb-2" for="">
                  <h5>Nom de catégorie : </h5>
                </label>
                <input autocomplete="off" id="catego_name_add" class="secondary-border secondary-raduis w-100" type="text" placeholder="Nom de catégorie...">
              </div>
            </div>
            <div class="modal-footer">

              <button onclick="create_catego()"  class="mybtn size-btn secondary-raduis secondary-border">Ajouter</button>
            </div>

          </div>
        </div>
      </div>
      <!-- end new categorie Modal -->


      <!--update Modal -->
      <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modifier la catégorie</h5>
              <button type="button" class="mybtn-icon secondary-raduis secondary-border" data-bs-dismiss="modal"
                aria-label="Close"><img src="../../resources/img/icons/cancel.png" style="width: 20px;" alt=""></button>
            </div>
            <div class="modal-body">
              <div class="container">
                <label class="mb-2" for="">
                  <h5>Nom de catégorie : </h5>
                </label>
                <input type="hidden" value="" id="idCategory_update">
                <input autocomplete="off" id="category_name_update" class="secondary-border  secondary-raduis w-100" type="text" value="">
              </div>
            </div>
            <div class="modal-footer">

              <button onclick="update_catego()" type="submit" class="mybtn size-btn secondary-raduis secondary-border">Modifier</button>
            </div>

          </div>
        </div>
      </div>
      <!-- end update Modal -->
      <!-- end body -->
    </div>
  </div>
  <!-- end main -->

  <script>

    async function create_catego(){
      
      const headers = {'Content-Type': 'multipart/form-data'} ;
    
      await axios.post('http://localhost/projet_fil_rouge/Category/create_catego', {category_name : "test"},{headers: headers})
        .then((res) => {
          console.log(res.data);
        });
      
      getAll_catego()
      $('#newCategorieModal').modal('hide');
     
    }

    function getAll_catego() {
      output = "";
      axios.get('http://localhost/projet_fil_rouge/Category/getAll_catego')
        .then((res) => {
          for (i in res.data.message) {
            if(res.data.state == false){
              output ='<tr>' +
                '<td>Aucune catégorie insérée </td>'+
                '<td><button class="mybtn-icon ps-2 pe-2 secondary-raduis secondary-border" data-bs-toggle="modal"data-bs-target="#updateModal">'+
                    '<img class="btn-img img-fluid" src="../../resources/img/icons/modifier-le-fichier.png"alt=""></button></td>'+
                
                '<td><button class="mybtn-icon ps-2 pe-2 secondary-raduis secondary-border">'+
                  '<img class="btn-img img-fluid" src="../../resources/img/icons/supprimer.png" alt=""></button></td>'+
              '</tr>'
            }else{
              output += '<tr>' +
                '<td>' + res.data.message[i].category_name  + '</td>'+
              '<td>' +
              '<button onclick="get_catego_toUpdate('+res.data.message[i].idCategory+')" class="mybtn-icon ps-2 pe-2 secondary-raduis secondary-border" data-bs-toggle="modal" data-bs-target="#updateModal">' +
              '<img class="btn-img img-fluid" src="../../resources/img/icons/modifier-le-fichier.png" alt="">' +
              '</button>' +
              '</td>'+
              '<td>' + '<button onclick="delete_catego('+res.data.message[i].idCategory+')" class="mybtn-icon ps-2 pe-2 secondary-raduis secondary-border">' +
              '<img class="btn-img img-fluid" src="../../resources/img/icons/supprimer.png" alt="">' + '</button>' +
              '</td>'
              '</tr>'
            }
          }
          document.getElementById('tbody').innerHTML = output

        });
    }

    function get_catego_toUpdate(id){
      obj={
        idCategory: id
      }
      axios.post('http://localhost/projet_fil_rouge/Category/get_catego',obj)
        .then((res) => {
          document.getElementById('category_name_update').value = res.data.message.category_name
          document.getElementById('idCategory_update').value = res.data.message.idCategory
        });

    }
    async function update_catego(){
      obj={
        idCategory: document.getElementById('idCategory_update').value ,
        category_name: document.getElementById('category_name_update').value
      }
      await axios.post('http://localhost/projet_fil_rouge/Category/update_catego',obj)
        .then((res) => {
          console.log(res.data)
        });
        getAll_catego()  
        $('#updateModal').modal('hide');
    }
    async function delete_catego(id){
      if(confirm("Voulez vous vraiment supprimer ce categorie ? \n ")){
        obj={
        idCategory: id
      }
        await axios.post('http://localhost/projet_fil_rouge/Category/delete_catego',obj)
        .then((res) => {
          console.log(res.data)
        });
        getAll_catego()
    }
    else{
            alert("Le commentaire n'a pas été supprimé.")
    }


    }
  </script>





  <script src="../../resources/includes/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>