<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/includes/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../resources/css/style.css" />
</head>
<!-- cdn jquery -->
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <!-- include header & footer -->
<script src="../../resources/js/includeTemp.js"></script>
<!-- import axios -->
<script src="/node_modules/axios/dist/axios.min.js"></script>
  
<body  >
  <!-- header -->
<div id="sidebar"></div>
  <!--  -->


    <!-- main -->
    <div class="main float-end">
        <div id="Produit">
            <!-- header -->
            <div class="w-100 card-header mb-5">
                <h4 class="text-center">Ajouter un Nouveau Produit</h4>
            </div>
            <!-- end header -->
            <!-- body -->
            <div class="container mt-5 p-5">
                <div class="row">
                    <!-- nom & prix -->
                    <div class="col-6">
                        <div class="row ps-2 mb-4">
                            <label for="nom" class="col-3 col-form-label">Nom</label>
                            <div class="col-9">
                                <input  name="nom" type="text" placeholder="Nom"
                                    class="w-100 form-control secondary-raduis secondary-border">
                            </div>
                        </div>
                        <div class="row ps-2 mb-4">
                            <label for="prix" class="col-3 col-form-label">Prix</label>
                            <div class="col-9">
                                <input name="prix" placeholder="Prix" type="text"
                                    class="form-control secondary-raduis secondary-border">
                            </div>
                        </div>
                    </div>
                    <!-- categorie & qte -->
                    <div class="col-6">
                        <div class="row ps-2 mb-4">
                            <label for="Nom" class="col-3 col-form-label">categorie </label>
                            <div class="col-9">
                                <select name="categorie" id=""
                                    class="w-100 form-control secondary-raduis secondary-border">
                                    <option value="" disabled selected>Categorie</option>
                                    <option value="">yassine</option>
                                </select>
                            </div>
                        </div>
                        <div class="row ps-2 mb-4">
                            <label for="qte" class="col-3 col-form-label">Quantité</label>
                            <div class="col-9">
                                <input name="qte" placeholder="Quantité" type="number"
                                    class="form-control secondary-raduis secondary-border">
                            </div>
                        </div>
                    </div>
                    <!-- add img -->
                    <div class="col-12">
                        <div class="row ps-2 mb-4 justify-content-between">
                            <label for="" class="col-1 col-form-label ">Images</label>

                            <div class="  col-10 col-byme row-img  ">
                                <div class="secondary-border secondary-raduis d-flex justify-content-between">
                                    <span id="spanfile" class="spanfile">choisire une images</span>

                                    <label class="input-grp-img">
                                        <input id="inputfile" type="file" />
                                        <div class="mybtn-icon secondary-raduis secondary-border h-100 text-center ">
                                            <img width="30" class="img-btn-touch img-fluid "
                                                src="../../resources/img/icons/touchscreen.png" alt=""></div>
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- description -->
                    <div class="col-12">
                        <div class="row ps-2 mb-4 justify-content-between">
                            <label for="desc" class="col-1 col-form-label">Description</label>
                            <div class="col-10 col-byme">

                                <textarea name="desc" id="" placeholder="Description" cols="30" rows="10"
                                    class="form-control secondary-raduis secondary-border"></textarea>

                            </div>
                        </div>
                    </div>
                    <!-- btn ajouter -->
                    <div class="col-12 ">

                        <button onclick="uploadImg()"
                            class="mybtn float-end size-btn secondary-border secondary-raduis col-auto ajouter-btn ">Ajouter</button>

                    </div>
                </div>
            </div>



            <!-- end body -->
        </div>
    </div>
    <!-- end main -->
<script>
    
    function uploadImg(){
        var formData = new FormData();
        var imgFile = document.getElementById('inputfile').files[0];
        /* console.log(formData) */
        if(imgFile === undefined) {
            return null;
        }else{
        var today = new Date();
        var date = today.getFullYear()+''+(today.getMonth()+1)+''+today.getDate();
        var time = today.getHours()+''+today.getMinutes()+''+ today.getSeconds()
        var nameTemp = date.toString()+time.toString() ;
        var ext = imgFile.name.split('.').pop();
        var imgName = nameTemp+'.' + ext;
        console.log('time : '+imgName , 'img' , imgFile);
        formData.append('imgName', imgName);
        formData.append('imgFile', imgFile);
        // obj = {
        //     formData : formData
        // }
        axios.post('http://localhost/projet_fil_rouge/product/upload_img', formData )
        .then((res) => {
          console.log(res.data);
        });
        return imgName ;
        }
   
    }
</script>
    <script src="../../resources/js/produit.js"></script>
    <script src="../../resources/includes/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>